@* Copyright (C) 2016  Andrea Mendonça, Emílio Weba, Guiherme Ribeiro, Márcio Oliveira, Thiago Nunes, Wallas Henrique

    This file is part of Fiscal Cidadão.

    Fiscal Cidadão is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Fiscal Cidadão is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Fiscal Cidadão.  If not, see <http: />/www.gnu.org/licenses/>.*@
@model FiscalCidadaoWeb.Models.ListagemConvenioViewModel

@{
    ViewBag.Title = "Listagem";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryDataTable")
@Scripts.Render("~/bundles/jqueryUi")
@Styles.Render("~/Content/jqueryUi")

<div id="dialog" title="Confirmation" hidden>
    <p id="dialogContent"></p>
    @Html.DropDownListFor(x => x.Parecer, Model.ListaParecer, null, new { @class = "form-control eventST" })
    <input id="noBtn" type="submit" name="No" value="Cancelar" />
    <input id="yesBtn" type="submit" name="Yes" value="Confirmar" />
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Listagem de Convênios</h1>
        <br />
        <div>
            <div class="displayInline marginRight marginLeft maiorWidth">
                @Html.Editor("searchBox", new { htmlAttributes = new { placeholder = "Busca", @class = "clearable maiorWidth", type = "search" } })
            </div>
            <div class="displayInline ">
                <strong>Data Início:</strong>
            </div>
            <div class="displayInline marginRight">
                <input type="date" name="Inicio" id="Inicio" />
            </div>
            <div class="displayInline ">
                <strong>Data Fim:</strong>
            </div>
            <div class="displayInline marginRight">
                <input type="date" name="Fim" id="Fim" />
            </div>
            <div class="displayInline">
                <button id="btnFiltrar">Filtrar</button>
            </div>
        </div>
        <br />
        <br />
        @Html.Partial("_ListagemPartial", Model)
    </div>
</div>

<link href="~/Content/App/ListagemConvenios.css" rel="stylesheet" />
<link href="~/Content/tablesorter.css" rel="stylesheet" />

